[workspace]
exclude = [
    "hv-ecs"
]

members = [
    "altar",
    "hv-lua",
    "hv",
    "hv/crates/*",
    "tiled",
]

[profile.dev]
# Rust iterators are absolutely horrific without any optimizations, and we like them a lot.
opt-level = 1